In [1]:
a = 5

In [2]:
print(a)

5

In [7]:
a=10

In [8]:
print(a)

10

In [9]:
print(a+a)

20

In [10]:
a+a

20

In [11]:
a

10

In [12]:
a=2.0

In [13]:
typr(a)

NameError: name 'typr' is not defined

In [14]:
type(a)

float

In [15]:
a

2.0

In [16]:
a+a

4.0

In [17]:
a:Double = 2.0

NameError: name 'Double' is not defined

In [18]:
a:double = 2

NameError: name 'double' is not defined

In [19]:
a=a+a

In [20]:
a

4

In [26]:
a=a+a

In [24]:
a

8

In [25]:
a

8

In [27]:
a

16

In [28]:
my_income = 100
my_taxrate = 0.1
my_taxes = my_income * my_taxrate

In [29]:
my_taxes

10.0

In [30]:
my_dailyexpense = 100
my_pocketmoney = 110
my_savings = my_pocketmoney - my_dailyexpense
my_savings

10