In [1]:
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
print(my_list)

[1, 2, 3]

In [5]:
my_list = ['String',1,10.58]

In [6]:
my_list

['String', 1, 10.58]

In [7]:
len(my_list)

3

In [8]:
mylist = ['one','two','three']

In [9]:
mylist[0]

'one'

In [10]:
mylist[0:-1]

['one', 'two']

In [11]:
mylist[0:]

['one', 'two', 'three']

In [12]:
mylist[-1:]

['three']

In [13]:
mylist[:-1]

['one', 'two']

In [14]:
mylist[::-1]

['three', 'two', 'one']

In [15]:
mylist[1:]

['two', 'three']

In [16]:
another_list = ['four','five','six']

In [17]:
mylist + another_list

['one', 'two', 'three', 'four', 'five', 'six']

In [18]:
mylist

['one', 'two', 'three']

In [19]:
another_list

['four', 'five', 'six']

In [21]:
new_list = mylist + another_list

In [22]:
new_list

['one', 'two', 'three', 'four', 'five', 'six']

In [23]:
new_list[0] = 'ONE ALL CAPS'

In [24]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [25]:
new_list.append('seven')

In [26]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [27]:
new_list.append('eight')

In [28]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [29]:
# for removing last element from list
new_list.pop()

'eight'

In [30]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [33]:
popped_item = new_list.pop()

In [34]:
popped_item

'six'

In [35]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [36]:
# Remove from start or perticular index position
# By default the index location of pop function is -1 which is very last element 
new_list.pop(0)

'ONE ALL CAPS'

In [37]:
new_list

['two', 'three', 'four', 'five']

In [38]:
# Study the sort method
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [39]:
new_list.sort()

In [40]:
new_list

['a', 'b', 'c', 'e', 'x']

In [41]:
# Mistake 
my_sorted_list = new_list.sort()

In [42]:
my_sorted_list

In [43]:
type(my_sorted_list)

NoneType

In [44]:
# NoneType does not return anything

In [45]:
# in that way you can assign
new_list.sort()
my_sorted_list = new_list

In [46]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [47]:
num_list

[4, 1, 8, 3]

In [48]:
num_list.sort()

In [49]:
num_list

[1, 3, 4, 8]

In [50]:
# reverse method
num_list.reverse()

In [51]:
num_list

[8, 4, 3, 1]

In [52]:
mylist = [1,'two',3.14159]
print(mylist)

[1, 'two', 3.14159]

In [53]:
[1,'two',3.14159]

[1, 'two', 3.14159]

# Nested Lists

In [55]:
lists = [1,1,[3,2]]

In [56]:
lists

[1, 1, [3, 2]]

In [57]:
print(lists)

[1, 1, [3, 2]]

In [58]:
# If you want 2 from the nested list then just put another bracket 1st for list no and 2nd for index no.
lists[2][1]

2

In [1]:
# Bew Sorted Method

list3 = [4,5,3,2,8,6,0,9]
list3

[4, 5, 3, 2, 8, 6, 0, 9]

In [2]:
print(list3)

[4, 5, 3, 2, 8, 6, 0, 9]

In [5]:
# this method sorts the list and prints as well
sorted(list3)

[0, 2, 3, 4, 5, 6, 8, 9]