In [10]:
# define set it is unordered collection

myset = set()

In [11]:
myset

set()

In [12]:
myset.add(1)

In [13]:
myset

{1}

In [14]:
myset.add(2)

In [15]:
myset

{1, 2}

In [16]:
# if we add another same element then it cannot accept or show same (duplicate) elements

myset.add(2)

In [17]:
myset

{1, 2}

In [18]:
# suppose we want unique values from list then do this

mylist = [1,1,1,2,2,3,3,4,5,5]

In [19]:
set(mylist)

{1, 2, 3, 4, 5}

In [20]:
set('Mississippi')

{'M', 'i', 'p', 's'}